* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/* start-header */
header {
    height: 102px;
    display: flex;
    z-index: 6;
}

nav {
    margin-top: 10px;
}

.container a {
    text-decoration: none;
    color: black;
    z-index: 3;
}

.container {
    width: 1340px;
    margin: 0 auto;
    padding: 0 16px;
    z-index: 2;
    position: relative;
    position: inherit;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social {
    display: inline-block;
}

.for {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

ul {
    display: inline-block;
    list-style: none;
}

li a {
    width: 100%;
    text-align: center;
}


header li {
    margin: 0 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.gg {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.gg::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #222d35;
    transition: .3s ease-in-out;
}

.gg::after {
    content: "";
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: #588afd;
    border-radius: 50%;
    transition: .3s ease-in-out;
    z-index: -1;
    opacity: 0;
}

.gg:hover::after {
    opacity: 1;
}

.gg:hover::before {
    width: 0 !important;
}

.social a {
    font-size: 1.6em;
    margin: 10px;
}

nav span {
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    background: #232323;
}

@media (max-width:1400px) {
    .container {
        width: 1140px;
    }
}

@media (max-width:1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width:992px) {
    .container {
        width: 720px;
    }

    ul {
        display: block;
    }

    header li {
        line-height: 57px;
        display: flex !important;
    }

    .list {
        width: 100%;
        position: absolute;
        left: 0;
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        background-color: white;
    }

    nav:hover .list {
        height: 340px;
    }

    .list i {
        line-height: 60px;
    }

    nav span {
        display: block;
    }

    .social {
        width: 100%;
        text-align: center;
    }

    header .gg:hover::before {
        width: 100% !important;
    }

    header .gg:hover::after {
        z-index: 1;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 540px;
    }

}

@media (max-width:576px) {
    .container {
        max-width: 100%;
    }
}

/* end-header */
/* start-frist */
section {
    padding: 5rem 0;
}

.frist {
    background-position: 50%;
    position: relative;
    z-index: -1;
    background: url(../image/mbr-1920x1277.jpg) fixed no-repeat;
    background-size: cover;
    background-position: 50%;
}

.frist::before {
    content: "";
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    opacity: .4;
}

.circle {
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}

.circlee {
    transform: translateX(-25px);
    animation: circle 3s ease infinite alternate forwards;
}

.hole {
    background-color: transparent !important;
    border: 3px black solid;
    animation: hole 3s ease infinite alternate forwards;
}

.holee {
    width: 48px;
    height: 48px;
}

@keyframes circle {
    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(-25px);
    }
}

@keyframes hole {
    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(-5px);
    }
}

.frist p {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 600;
}

.frist h2 {
    font-size: 1em;
    margin-bottom: 40px;
    font-weight: 600;
}

.frist h1 {
    font-size: 5em;
    font-weight: 400;
}

.gh {
    width: 1000px;
}

@media (max-width:1400px) {
    .gh {
        width: 1100px;
    }
}

@media (max-width:1200px) {
    .gh {
        width: 928px;
    }

    .frist h1 {
        font-size: 5rem;
    }
}

@media (max-width:992px) {
    .gh {
        width: 696px;
    }

}

@media (max-width:769px) {
    .gh {
        width: 516px;
    }

    .frist h1 {
        font-size: calc(2.4875rem + (5.25 - 2.4875) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc(1.1 * (2.4875rem + (5.25 - 2.4875) * ((100vw - 20rem) / (48 - 20))));
    }
}

@media (max-width:576px) {
    .gh {
        width: 100%;
    }

    .frist h1 {
        font-size: 3.1rem;
    }
}

/* end-frist */
/* start-secound */

.secoundone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.secoundone>div:nth-of-type(1) {
    width: 550px;
}

.secoundone div:nth-of-type(2) {
    width: 628px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.secoundone h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.secoundone h3 {
    font-size: 3.2rem;
    font-weight: 600;
}

.secoundone p {
    line-height: 30px;
    font-size: 1.2rem;
    padding: 20px 0;
}


@media (max-width:1400px) {
    .secoundone div:nth-of-type(2) {
        width: 538px;
    }

    .secoundone>div:nth-of-type(1) {
        width: 475px;
    }
}

@media (max-width:1200px) {
    .secoundone div:nth-of-type(2) {
        width: 400px;
    }

    .secoundone>div:nth-of-type(1) {
        width: 475px;
    }
}

@media (max-width:992px) {
    .secoundone div:nth-of-type(2) {
        width: 100%;
    }

    .secoundone>div:nth-of-type(1) {
        width: 100%;
    }
}

.secoundtwo {
    display: flex;
    flex-direction: row;
    border-right: 1px dotted rgba(55, 60, 66, 0.5);
    margin-top: 100px;
}

.sectow {
    width: 440px;
    border-left: 1px dotted rgba(55, 60, 66, 0.5);
}

.sectow img {
    width: 311px;
}

.sectwocont {
    width: 311px;
    margin: 0 auto;
}

.sectow div p:first-child {
    transform: rotate(90deg) translate(225px, -165px);
}

.sectow h4 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
    letter-spacing: -2px;
}

.sectwocont p {
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: .5px;
    margin-bottom: 15px;
    font-weight: 500;
}

.sectow:last-child {
    padding-top: 230px;
    padding-bottom: 25px;
}

.sectow:first-child {
    padding-top: 100px;
}

@media (max-width:1400px) {

    .sectwocont,
    .sectwocont img {
        width: 251px;
    }

    .sectow {
        width: 380px;
    }

    .sectow div p:first-child {
        transform: rotate(90deg) translate(193px, -135px);
    }
}

@media (max-width:1200px) {

    .sectwocont,
    .sectwocont img {
        width: 191px;
    }

    .sectow {
        width: 320px;
    }

    .sectow div p:first-child {
        transform: rotate(90deg) translate(163px, -102px);
    }
}

@media (max-width:992px) {

    .sectwocont,
    .sectwocont img {
        width: 183px;
    }

    .sectow {
        width: 240px;
    }

    .sectow div p:first-child {
        transform: rotate(90deg) translate(122px, -98px);
    }
}

@media (max-width:769px) {
    .secoundtwo {
        flex-wrap: wrap;
        border: 0;
    }

    .sectwocont,
    .sectwocont img {
        width: 500px;
    }

    .sectow div p:first-child {
        transform: rotate(90deg) translate(262px, -260px);
    }

    .sectow {
        width: 540px;
        border-left: 0;
        border-bottom: 1px dotted rgba(55, 60, 66, 0.5);
        padding: 40px 0 !important;
    }
}

.small-word::before {
    content: "PRODUCT 1";
    position: absolute;
    transform: rotate(90deg);
    top: 36px;
    right: -46px;
    display: none;
}

@media (max-width:576px) {

    .sectwocont,
    .sectwocont img,
    .sectow {
        width: 98%;
    }

    .sectow {
        padding-right: 20px;
    }

    .sectow div p:first-child {
        display: none;
    }

    .sectwocont {
        position: relative;
    }

    .small-word::before {
        display: block;
    }

    .two::before {
        content: "PRODUCT 2";
    }

    .th::before {
        content: "PRODUCT 3";
    }
}

/* end-secound */
/* start-three */
.three .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.three img {
    width: 100%;
}

.thone,
.thtwo {
    width: 50%;
    padding: 0 16px;
}

.thone {
    display: flex;
    align-items: center;
}

.thtwo {
    padding: 50px;
}

.squarehole {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    transform: translate(0px, -64px);
}

.square {
    transform: translate(8px, 8px);
    width: 64px;
    height: 64px;
    background-color: #b61aae;
    transition: .5s ease;
}

.thtwo:hover .square,
.secont3:hover .square {
    transform: translate(8px, 8px) rotate(45deg) scale(1.3);
}

.thtwo h4 {
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.thtwo p {
    line-height: 25px;
}

@media (max-width: 992px) {

    .thone,
    .thtwo {
        width: 100%;
        padding: 0;
    }

    .thtwo {
        padding-top: 50px;
    }

    .square {
        width: 52px;
        height: 52px;
    }

    .squarehole {
        width: 62px;
        height: 62px;
        transform: translate(3px, -49px);
    }
}

@media (max-width: 767px) {
    .square {
        width: 35px;
        height: 35px;
    }

    .squarehole {
        width: 45px;
        height: 45px;
        transform: translate(3px, -32px);
    }
}

/* end-three */
/* start-four */
.circlee2 {
    width: 80px;
    height: 80px;
    background-color: #d72323;
    transform: translate(40px, -85px);
    animation: circlee2 3s ease-in-out infinite forwards alternate;
}

.fourd:nth-of-type(2) .circlee2 {
    background-color: #6cff62;
}

.fourd:nth-of-type(3) .circlee2 {
    background-color: #b61aae;
}

.fourd:nth-of-type(4) .circlee2 {
    background-color: #0a81ab;
}

.holee2 {
    animation: holee2 3s ease-in-out infinite forwards alternate !important;
    transform: translateX(0px) !important;
}

@keyframes circlee2 {
    50% {
        transform: translate(-5px, -85px);
    }

    100% {
        transform: translate(40px, -85px);
    }
}

@keyframes holee2 {
    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

.fourh {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 50px;
}

.fourd {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-top: 1px dotted rgba(34, 45, 53, 0.5);
}

.fourd:nth-last-of-type(2) {
    transform: translateX(60px);
}

.fourd:nth-last-of-type(3) {
    transform: translateX(30px);
}

.fourdd div:last-child {
    width: 60%;
    padding-right: 160px;
}

.fourdd h4 {
    padding-left: 50px;
    font-size: 3rem;
    font-weight: 600;
    width: 30%;
    margin-left: 70px;
}

.fourdd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fourdd p {
    line-height: 25px;
}

.fourdd p:last-child {
    font-size: 1.2rem;
    padding-top: 10px;
}

@media (max-width:992px) {
    .fourd {
        transform: translateX(0px) !important;
    }

    .fourd div {
        padding-right: 0 !important;
    }

    .fourd h4 {
        margin: 0;
        word-break: break-word;
        width: 100%;
    }

    .fourdd div {
        width: 50%;
    }
}

@media (max-width:767px) {
    .fourdd div {
        width: 100% !important;
    }

    .fourdd {
        flex-direction: column;
        padding-left: 50px;
    }

    .circlee2 {
        width: 40px;
        height: 40px;
        transform: translate(25px, -44px);
        animation: circlee22 3s ease-in-out infinite forwards alternate;
    }

    .fourdd h4 {
        padding: 0;
    }

    @keyframes circlee22 {
        50% {
            transform: translate(-5px, -44px);
        }

        100% {
            transform: translate(25px, -44px);
        }
    }
}

/* end-four */
/* start-five */
.five h4 {
    font-size: 3rem;
    padding-left: 30px;
    padding-bottom: 30px;
}

.cont-img {
    background: url(../image/mbr-1920x1280.jpg) center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 55vw;
    position: relative;
}

.cont-img::after {
    content: "";
    position: absolute;
    width: 256px;
    height: 256px;
    background-color: #d72323;
    bottom: -20px;
    right: -20px;
    z-index: -1;
}

.cont-img div {
    width: 192px;
    height: 192px;
    background-color: #0a81ab;
    border-radius: 50%;
    transition: 1s ease;
    box-shadow: 0 0 30px 1px rgb(136, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-img:hover div {
    transform: scale(1.15);
}

.cont-img div a {
    color: white;
    font-size: 1.4rem;
}

.fr::before {
    content: "OUR VIDEOS";
    display: block;
    top: 50px;
    WIDTH: 125PX;
    right: 1260PX;
    font-size: 1.2rem;
}

@media (max-width:1400px) {
    .fr::before {
        top: 55px;
        WIDTH: 126PX;
        right: 1055PX;
    }
}

@media (max-width:1200px) {
    .fr::before {
        right: 875PX;
    }
}

@media (max-width:992px) {
    .fr::before {
        right: 635PX;
    }
}

@media (max-width:767px) {
    .cont-img div {
        width: 120px;
        height: 120px;
    }

    .fr::before,
    .fr::after {
        display: none;
    }
}

/* end-five */
/* start-six */
.six h4 {
    color: #222d35;
    font-size: .9rem;
    margin-bottom: 2rem;
}

.six h2 {
    font-size: 3.7rem;

}

.six .container,
.sixtwo,
.sixtwo div {
    display: flex;
    justify-content: space-between;
}

.six .container {
    border-top: 1px dotted rgba(34, 45, 53, 0.5);
    padding-top: 60px;
}

.sixtwo {
    flex-direction: column;
    width: 55%;
    align-items: center;
}

.sixtwo div {
    width: 100%;
    padding-bottom: 25px;
    align-items: center;
}

.sixtwo div p:nth-child(2) {
    font-size: 1.4rem;
    font-weight: bold;
}

@media (max-width:992px) {
    .six h2 {
        font-size: 1.7rem;
    }

    .sixtwo {
        width: 65%;
    }
}

@media (max-width:767px) {
    .six h2 {
        font-size: 2.5rem;
        padding-bottom: 30px;
    }

    .six .container,
    .sixtwo,
    .sixtwo div {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .sixtwo div {
        padding: 0;
        margin-bottom: 20px;
        border-bottom: 1px dotted rgba(34, 45, 53, 0.5);
    }

    .sixtwo div p {
        padding-bottom: 15px;
    }
}

/* end-six */
/* start-seven */
.seven .sm1 .square {
    width: 80px;
    height: 80px;
    transform: translate(-30px, -15px);
    background: #d72323;
    transition: .5s ease;
}

.secont:hover .sm1 .square {
    transform: translate(0px, 15px) rotate(45deg);
}

.seven input,
textarea {
    padding: 0.75rem 1rem;
    line-height: 1.5;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    resize: vertical;
    border-radius: 0;
}

.seven .sectow {
    padding: 0;
}

textarea {
    height: 120px;
}

.seven .form,
.seven form {
    width: 100%;
    position: relative;
}

.pad {
    padding-bottom: 120px;
}

.seven button {
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 8px;
    position: absolute;
    bottom: -70px;
    right: 0;
}

.sm2 .squarehole {
    transform: rotate(45deg) translate(-20px, -20px);
}

.sm2 .square {
    transform: translate(30px, 80px) rotate(0);
    width: 80px;
    height: 80px;
    background-color: #6cff62;
}

.secont2:hover .sm2 .square {
    transform: translate(50px, 50px) rotate(-45deg) scale(.8);
}

.secont2 {
    padding-top: 120px !important;
}

.secont3 p:last-child a {
    margin-left: 5px;
}

.secont3 {
    padding-top: 70px !important;
}

.secont3 p {
    margin-bottom: 20px;
}

@media (max-width:992px) {
    .secont .square {
        width: 62px !important;
        height: 62px !important;
    }

    .secont:hover .square {
        transform: translate(3px, 12px) rotate(45deg) !important;
    }

    .sm2 .square {
        width: 62px;
        height: 62px;
        transform: translate(25px, 55px) rotate(0);
    }

    .secont2:hover .square {
        transform: translate(40px, 35px) rotate(-45deg) scale(.8) !important;
    }
}

.seven button:hover {
    cursor: pointer;
}

@media (max-width:767px) {
    .secont .square {
        width: 45px !important;
        height: 45px !important;
        transform: translate(-15px, -10px) !important;
    }

    .sev {
        margin: 0;
    }

    .secont {
        padding: 0;
    }

    .secont:hover .square {
        transform: translate(3px, 12px) rotate(45deg) !important;
    }

    .sm2 .square {
        width: 45px;
        height: 45px;
        transform: translate(15px, 32px) rotate(0);
    }

    .secont2:hover .square {
        transform: translate(30px, 17px) rotate(-45deg) scale(.8) !important;
    }
}


/* end-seven */
/* start-eight */
.dh3 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 100px;
}

.eight1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.card {
    height: 250px;
    color: white;
    flex-wrap: wrap;
}

.card div {
    padding: 15px;
}

.card div:last-of-type {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card div:first-of-type {
    margin-top: 133px
}

.card:first-of-type {
    background: url(../image/i3.jpg) center no-repeat;
    background-size: cover;
}

.card:nth-of-type(2) {
    background: url(../image/i2.jpg) center no-repeat;
    background-size: cover;
}

.card:last-of-type {
    background: url(../image/i1.jpg) center no-repeat;
    background-size: cover;
}

@media (max-width:1200px) {
    .card div:first-of-type {
        margin-top: 116px;
    }
}

@media (max-width:992px) {
    .card div:first-of-type {
        margin-top: 98px;
    }

    .eight1 {
        width: 100%;
    }
}

@media (max-width:767px) {
    .eight1 {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }

}

.eight2 {
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
}

.eight2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted rgba(55, 60, 66, 0.5);
    height: 40px;
}

@media (max-width:992px) {
    .eight2 {
        width: 100%;
    }
}

@media(max-width:576px) {
    .eight2 div {
        padding: 10px;
        flex-direction: column;
        height: 100px;
        align-items: flex-start;
    }

    .eight2 div p:last-of-type {
        padding: 0 20px;
    }
}

/* end-eight */
/* start-nine */
.nine .container {
    display: flex;
    justify-content: space-between;
}

.nine h4 {
    font-weight: 400;
}

.nine a {
    font-size: 1.2rem;
    padding-top: 20px;
}

.nine li:not(:first-of-type) {
    margin-left: 20px;
}

.nine li::after {
    margin-top: 20px;
}

.nine2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width:992px) {
    .nine .container {
        flex-direction: column;
    }


    .nine a:first-child {
        margin: 0;
    }

    .nine2 {
        align-items: flex-start;
        margin-top: 50px;
    }
}

/* end-nine */
/* start-footer */
footer {
    padding: 1.2rem 0;
    background-color: #222d35;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

footer a {
    color: white !important;
}

:first-of-type footer a:not(:last-of-type) {
    margin-right: 30px;
}

footer a::before {
    background-color: white;
}

@media(max-width:767px) {
    footer .container div:last-child a {
        margin-top: 20px;
    }
}

/* end-footer */